<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="me.genopets.plugins.panoramic_camera">
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

  <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true" />
  <uses-feature
    android:name="android.hardware.camera"
    android:required="true" />
  <!-- <uses-feature
      android:name="android.hardware.sensor.compass"
      android:required="true" /> -->
  <uses-feature
    android:name="android.hardware.touchscreen"
    android:required="true" />


</manifest>